.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}
.main {
  flex: 3;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url("./assets//bg.jpg");
  position: relative;
}
.endText {
  position: absolute;
  top: 50%;
  left: 50%;
}
.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 40vh;
  left: 20pc;
}
.bottom {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50vh;
  left: 23pc;
}
.pyramid {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.moneyListItem {
  padding: 10px;
  display: flex;
}
.moneyListItem.active {
  background-color: teal;
}
.moneyListItemNumber {
  /* border: 2px solid; */
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.start {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.startInput {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}
